<footer class="footer">
    <p style="color: #4669c8">
      Please email us what you don't like about this page at <span><u><a style="color: #4669c8" href="mailto:suggestions@subscrates.com">suggestions@subscrates.com</a></u></span>.
    </p>
    <p>Got Questions? Contact us at: <span><u><a style="color: #4669c8" href="mailto:support@subcrates.com">support@subcrates.com</a></u></span></p>
    <ul class="footer-ul">
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Legal</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
    <p>
      &nbsp;© Copyright 2020. All rights reserved.
    </p>
  </footer>