<footer class="footer">
    <p>Got Questions? Contact us at: nafeek30@gmail.com</p>
    <ul class="footer-ul">
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Legal</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
    <p>
      &nbsp;© Copyright 2020. All rights reserved.
    </p>
  </footer>