<nav class="navbar navbar-expand navbar-light bg-light">
    <a href="/homepage" class="navbar-brand login-logo">Subcrates</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse login-elements">
        <form class="form-inline">
            <div class="input-group">                    
                <input type="text" class="form-control" id="login-searchBar" placeholder="Search">
                <div class="input-group-append">
                    <button type="button" class="btn login-search"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

        <div class="navbar-nav">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle login-options" data-toggle="dropdown">Options</a>
                <div class="dropdown-menu">
                    <a href="/mycrate" class="dropdown-item">My Crate</a>
                    <a href="/settings" class="dropdown-item">Settings</a>
                    <a href="/logout" class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>





