<div class="topnav">
    <a class="active landing-logo" href="#">Subcrates</a>
    
    <div class="login-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="psw">
        <button type="submit">Login</button>
      </form>
      <a href="#" id="forgot-password">Forgot password?</a>
    </div>
  </div>