.info {
    background: whitesmoke;
}

form {
    display: flex;
    background: whitesmoke;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    outline: none;
}


.input-fields, 
.notes {
    width: 48%;
    outline: none;
}


.input-fields .inputs,
.notes textarea {
    margin: 0.5rem 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #4669c8;
    color: #34495e;
    padding: 0.5rem;
    width: 100%;
    outline: none;
    font-size: 1rem;
}


.notes {
    align-items: center;
    text-align: center;
    justify-content: center;
}


.notes textarea {
    height: 13rem;
}

/* for google chrome */
::-webkit-input-placeholder {
    color: #34495e;
}

/* for mozilla */
::-moz-input-placeholder {
    color: #34495e;
}

/* for internet explorer */
::-ms-input-placeholder {
    color: #34495e;
}

.addbutton {
    background: #4669c8;
    text-align: center;
    padding: 1rem;
    border-radius: 0.25rem;
    color: whitesmoke;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    border: none;
    margin: 0.5rem auto;    
}

.addbutton:hover {
    color: whitesmoke;
}

