* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #34495e;
}


a:hover {
    color: whitesmoke;
}


a > i {
    color: #e74c3c;
}

h6 {
    margin: 1rem 0;
}


.myCrate-addButton-group {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    float: right;
    min-height: 1.5rem;
}


.myCrate-header {
    margin-top: 1rem;
    color: #2c3e50;
}


.top-buttons {
    position: relative;
    display: inline-block;
    padding: 0.1rem 0.5rem;
    margin: 0.1rem 0.25rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    border-radius: 2rem;
    color: whitesmoke;
    text-align: center;
    background: #4669c8; 
}



/* TABLE CSS IN MYCRATES PAGE */
.myCrate-table-box {
    margin: 3rem auto;
}


.myCrate-table-row {
    display: table;
    width: 95%;
    margin: 0.5rem auto;
    background: transparent;
    padding: 0.75rem 0;
    color: #fff;
    font-size: 0.75rem;
    box-shadow: 0 1px 4px 0 rgba(70, 105, 200, 0.3);
    cursor: pointer;
}


#table-header {
    font-size: 1.25rem;
    background: #4669c8;
}

#table-header p {
    color: whitesmoke;
}

#table-header .table-cell {
    border-right: 1px solid whitesmoke;

}



.table-cell {
    display: table-cell;
    width: 10%;
    text-align: center;
    padding: 0.25rem 0;
    border-right: 1px solid #4669c8;
    vertical-align: middle;
}


#myCrate-notes {
    width: 95%;
    margin: 0.5rem auto;
    background: transparent;
    padding: 0.75rem 0.5rem;
    font-size: 0.75rem;
    box-shadow: 0 1px 4px 0 rgba(70, 105, 200, 0.3);
}