.visible-xs{
	display: none !important;
}
.hidden-xs{
	display: block !important;
}
@media(max-width: 767px){
	.visible-xs{
		display: block !important;
	}
	.hidden-xs{
		display: none !important;
	}
}
@media(max-width: 1440px){
	html, body{
		font-size: 14px;
	}
}
@media(max-width: 1366px){
	html, body{
		font-size: 13px;
	}
}
@media(max-width: 1200px){
	html, body{
		font-size: 12px;
	}
}
@media(max-width: 1024px){
	html, body{
		font-size: 10px;
	}
}
@media(max-width: 991px){
	html, body{
		font-size: 11px;
	}
}
@media(max-width: 767px){
	html, body{
		font-size: 14px;
	}
	.debt_section{
		border-bottom: 0;
	}
	.debt_section .debt{
	    width: 80%;
	    margin-bottom: 2rem;
	}
	.debt_section .flexer{
	    width: 100%;
	}
	.debt_section form{
	    width: 100%;
	}
	.feat_section{
		padding-top: 2rem;
	}
	.feat_section .try_box .text_box ,.feat_section .try_box .img_box{
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.feat_section .try_box .text_box .flexer{
	    border-radius: 0;
	    border-top-left-radius: 1.5rem;
	    border-top-right-radius: 1.5rem;
	    padding: 4rem 1rem;
	}
	.feat_section .try_box .text_box img{
	    width: 8rem;
	    margin: 0 1rem;
	}
	.feat_section .try_box .img_box img{
	    border-radius: 0;
	    border-bottom-left-radius: 1.5rem;
	    border-bottom-right-radius: 1.5rem;
	}
	.bot_feat{
	    padding: 0 1.5rem;
	}
	.feat_section .try_box .text_box h3{
	    font-size: 1.85rem;
	}
	.feat_section .try_box .text_box p{
	    font-size: 1.1rem;
	    color: #A1A3AD;
	    margin-bottom: 3.5rem;
	}
	.feat_section .try_box .text_box p br{
	    display: none;
	}
	.feat_section .try_box .text_box .d-flex{
	    display: block !important;
	}
	.feat_section .try_box .text_box .d-flex a{
	    display: block;
	    margin-top: 1.25rem;
	}
	.feat_section .try_box .text_box .d-flex a img{
	    width: 14rem;
	}
	.bot_feat .keybox .imgbox{
	    justify-content: flex-start;
	    align-items: center;
	    margin-bottom: .5rem;
	}
	.bot_feat .keybox .imgbox img{
	    width: 3rem;
	}
	.bot_feat .keybox .imgbox h4 {
	    margin-left: 1.5rem;
	    text-align: left;
	    margin-bottom: 0rem;
	}
	.bot_feat .keybox p{
	    text-align: left;
	}
	footer p a{
		color: #4669C8;
	}
	footer .col-md-6 p {
	    text-align: center;
	}
	footer .bot_link {
	    text-align: center;
	    margin-bottom: 1rem;
	}
	footer .bot_link li a{
		padding: 0 .5rem;
	}
	.debt_section h3 {
    	font-size: 2rem;
    }
    .debt_section p {
	    font-size: 1.2rem;
	}
	.bot_feat h3{
		font-size: 2rem;
	}
	.bot_feat p{
		font-size: 1rem;
	}
	.bot_feat h3, .bot_feat p{
		text-align: left;
	}
	.bot_feat p br{
		display: none;
	}
}