body, html{
	margin:0;
	font-size: 16px;
	font-family: 'Sofia Pro';
}
ul, ol{
	list-style: none;
	padding:0;
	margin:0;
}
input:focus, button:focus, textarea:focus{
	outline: none;
}
a:hover,a:focus{
	text-decoration: none;
}
img{
	max-width: 100%;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProBold.eot');
    src: local('Sofia Pro Bold'), local('SofiaProBold'),
        url('../fonts/SofiaProBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProBold.woff') format('woff'),
        url('../fonts/SofiaProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProExtraLight.eot');
    src: local('Sofia Pro ExtraLight'), local('SofiaProExtraLight'),
        url('../fonts/SofiaProExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProExtraLight.woff') format('woff'),
        url('../fonts/SofiaProExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProBold-Italic.eot');
    src: local('Sofia Pro Bold Italic'), local('SofiaProBold-Italic'),
        url('../fonts/SofiaProBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProBold-Italic.woff') format('woff'),
        url('../fonts/SofiaProBold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProRegular.eot');
    src: local('Sofia Pro Regular'), local('SofiaProRegular'),
        url('../fonts/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProRegular.woff') format('woff'),
        url('../fonts/SofiaProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProMedium-Italic.eot');
    src: local('Sofia Pro Medium Italic'), local('SofiaProMedium-Italic'),
        url('../fonts/SofiaProMedium-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProMedium-Italic.woff') format('woff'),
        url('../fonts/SofiaProMedium-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProExtraLight-Italic.eot');
    src: local('Sofia Pro ExtraLight Italic'), local('SofiaProExtraLight-Italic'),
        url('../fonts/SofiaProExtraLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProExtraLight-Italic.woff') format('woff'),
        url('../fonts/SofiaProExtraLight-Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProMedium.eot');
    src: local('Sofia Pro Medium'), local('SofiaProMedium'),
        url('../fonts/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProMedium.woff') format('woff'),
        url('../fonts/SofiaProMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProUltraLight-Italic.eot');
    src: local('Sofia Pro UltraLight Italic'), local('SofiaProUltraLight-Italic'),
        url('../fonts/SofiaProUltraLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProUltraLight-Italic.woff') format('woff'),
        url('../fonts/SofiaProUltraLight-Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProLight-Italic.eot');
    src: local('Sofia Pro Light Italic'), local('SofiaProLight-Italic'),
        url('../fonts/SofiaProLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProLight-Italic.woff') format('woff'),
        url('../fonts/SofiaProLight-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProBlack.eot');
    src: local('Sofia Pro Black'), local('SofiaProBlack'),
        url('../fonts/SofiaProBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProBlack.woff') format('woff'),
        url('../fonts/SofiaProBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProUltraLight.eot');
    src: local('Sofia Pro UltraLight'), local('SofiaProUltraLight'),
        url('../fonts/SofiaProUltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProUltraLight.woff') format('woff'),
        url('../fonts/SofiaProUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProBlack-Italic.eot');
    src: local('Sofia Pro Black Italic'), local('SofiaProBlack-Italic'),
        url('../fonts/SofiaProBlack-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProBlack-Italic.woff') format('woff'),
        url('../fonts/SofiaProBlack-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('../fonts/SofiaProSemiBold-Italic.eot');
    src: local('Sofia Pro Semi Bold Italic'), local('SofiaProSemiBold-Italic'),
        url('../fonts/SofiaProSemiBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProSemiBold-Italic.woff') format('woff'),
        url('../fonts/SofiaProSemiBold-Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProLight.eot');
    src: local('Sofia Pro Light'), local('SofiaProLight'),
        url('../fonts/SofiaProLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProLight.woff') format('woff'),
        url('../fonts/SofiaProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('../fonts/SofiaProSemiBold.eot');
    src: local('Sofia Pro Semi Bold'), local('SofiaProSemiBold'),
        url('../fonts/SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProSemiBold.woff') format('woff'),
        url('../fonts/SofiaProSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/SofiaProRegular-Italic.eot');
    src: local('Sofia Pro Regular Italic'), local('SofiaProRegular-Italic'),
        url('../fonts/SofiaProRegular-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SofiaProRegular-Italic.woff') format('woff'),
        url('../fonts/SofiaProRegular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

.container{
    max-width: 1366px;
}
.nav_section{
    background: white;
    padding: 1rem 0;
    border-bottom: 0.2rem solid #FAFAFB;
    z-index: 9;
}
.nav_section .bg-dark{
    background: transparent !important;
    padding: 0;
}
.nav_section .navbar-brand img{
    width: 12rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: #3C445D;
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem 1.5rem;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
    position: relative;
}
.navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .nav-link:focus{
    color: #5877CD;
}
.debt_section{
    padding: 4rem 0;
    border-bottom: 0.2rem solid #FAFAFB;
    position: relative;
}
.debt_section .debt{
    width: 90%;
    display: block;
    margin: auto;
}
.debt_section .flexer{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.debt_section h3{
    color: #0E1823;
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.debt_section p{
    color: #9296A0;
    font-size: 1.05rem;
    margin-bottom: 2rem;
    line-height: 1.75;
}
.debt_section form{
	width: 80%;
}
.debt_section .form-group{
    position: relative;
}
.debt_section input.form-control {
    height: 3.25rem;
    border-radius: .35rem;
    width: 100%;
    padding-left: 2.5rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
.debt_section form img{
    position: absolute;
    left: 1rem;
    top: 1.35rem;
    width: 1rem;
}
.debt_section .btn_green{
    background: linear-gradient(to right, #037ADE, #03E5B7 70%);
    border-radius: .35rem;
    color: white !important;
    padding: 1.1rem 2rem !important;
    line-height: 1;
    font-size: 1.15rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}
.debt_section .btn_green:hover,.debt_section .btn_green:focus{
    background: linear-gradient(to left, #037ADE, #03E5B7 70%);
}
.debt_section .green_text{
    color: #3BD7A4;
    font-size: 1rem;
}
.feat_section{
    padding: 7.5rem 0;
    position: relative;
    text-align: center;
}
.feat_section .try_box{
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.feat_section .try_box .text_box{
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}
.feat_section .try_box .text_box .flexer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F9;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.feat_section .try_box .text_box h3{
    color: #0E1823;
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.feat_section .try_box .text_box h3 span{
    color: #2DD6A0;
}
.feat_section .try_box .text_box p{
    color: #808490;
    font-size: 0.9rem;
    line-height: 2;
    margin-bottom: 5rem;
}
.feat_section .try_box .text_box img{
    width: 14rem;
    margin-right: 2rem;
}
.feat_section .try_box .img_box{
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}
.feat_section .try_box .img_box img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.bot_feat {
    max-width: 950px;
    display: block;
    margin: auto;
    margin-top: 6rem;
}
.bot_feat h3{
    color: #0E1823;
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}
.bot_feat p{
    color: #9699A3;
    font-size: 1rem;
    line-height: 1.75;
}
.bot_feat .keybox{
    padding: 2rem 1.25rem;
    border: 0.1rem solid #E5E7EC;
    border-radius: .75rem;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 2rem;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}
.bot_feat .keybox:hover,.bot_feat .keybox:focus{
    border: 0.1rem solid white;
    box-shadow: 0px 0px 1rem 1rem #FBFBFB;
}
.bot_feat .keybox .imgbox{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    min-height: 5.5rem;
    margin-bottom: 1.25rem;
}
.bot_feat .keybox h4{
    color: #0E1823;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.bot_feat .keybox p{
    margin-bottom: 0;
}
.form_section{
    padding: 4rem 0;
    position: relative;
    background: white;
    min-height: calc(100vh - 29rem)
}
.form_section form img{
    width: 10rem;
}
.form_section form .heading{
    color: #0E1823;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1rem 0;
}
.form_section form p{
    color: #8D919B;
    font-size: 1rem;
}
.form_section form .form-group{
    position: relative;
}
.form_section form .form-group input{
    border: 0.1rem solid #EFF1F4;
    padding: .5rem 2.5rem;
    height: 2.75rem;
    border-radius: .5rem;
    color: #9194A0;
    margin-bottom: 3rem;
}
.form_section form .form-group img{
    width: 1rem;
    position: absolute;
    left: 1rem;
    top: 1.1rem;
}
.form_section form .btn_blue{
    background: linear-gradient(to right, #037ADE, #03E5B7 70%);
    border-radius: .35rem;
    color: white !important;
    padding: 1.1rem 2rem !important;
    line-height: 1;
    font-size: 1.15rem;
    width: 100%;
    margin-bottom: 2rem;
    border: 0;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}
.form_section form .btn_blue:hover,.form_section form .btn_blue:focus{
    background: linear-gradient(to left, #037ADE, #03E5B7 70%);
}
.form_section form .resend_link{
    display: inline-block;
    color: #617ACC;
    font-size: 1.1rem;
    line-height: 1.1;
    border-bottom: 0.1rem dotted #617ACC;
}
.form_section .success_text{
    color: #40D8A6;
    font-size: 1.15rem;
    padding: 4rem 0;
    padding-bottom: 0rem;
}
.form_section .error_text{
    color: #F3425F;
    font-size: 1.15rem;
    padding: 4rem 0;
    padding-bottom: 0rem;
}




























footer{
    background: #FBFBFC;
    border-top: 0.1rem solid #F0F1F3;
    padding-top: 3rem;
}
footer .logo{
    width: 12rem;
    margin-bottom: 1.75rem
}
footer p{
    color: #9296A0;
    font-size: 1rem;
}
footer .social {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
footer .social li img{
    width: 1.35rem;
    margin-right: 1rem;
}
footer h4{
    color: #2D3640;
    font-size: 1.35rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
footer .links{
    margin-top: .75rem;
}
footer .links li a{
    display: inline-block;
    width: 100%;
    color: #91959F;
    margin-bottom: 1rem;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}
footer .links li a:hover,footer .links li a:focus{
    color: #40D8A6;
}
footer .store{
    margin-top: 1rem;
    width: 12.5rem;
}
footer p a{
    color: #40D8A6;
}
footer .bot_link{
    text-align: right;
}
footer .bot_link li a{
    display: inline-block;
    width: 100%;
    color: #91959F;
    padding-left: 2.5rem;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}
footer .bot_link li a:hover,footer .bot_link li a:focus{
    color: #40D8A6;
}
footer hr{
    border-top: 0.1rem solid #F0F1F3;
    margin-top: 3.5rem;
}