<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%- include("../partials/header") %>
    <link rel="stylesheet" a href="../../public/css/landingPage.css" />
    <link rel="stylesheet" a href="../../public/css/footer.css" />


    <title>Subcrates - Manage and find subscriptions in one place</title>
  </head>
  <body>
   
    <!-- TOP NAVBAR FOR LOGIN -->
  
    <header class="landing-showcase">
      <%- include("../partials/signupNavbar") %>
      <div class="landing-showcaseContent">
        <h1>Your one stop for subscriptions.</h1>
        <p>Discover new subscriptions and manage what you own.</p>
        <div class="landing-rightContent">
          <!-- <h1>Sign Up - It's Free</h1> -->
          <form id="landing-signupForm" action="/" method="POST" onsubmit>
            <table>
              <tr>
                <td><input type="text" name="signupEmail" placeholder=" Email " class="landing-Signup" /></td>
              </tr>
              <tr>
                <td><input type="password" name="signupPassword" placeholder=" Password " class="landing-Signup" /></td>
              </tr>
              <tr>
                <td><button class="btn btn-l landing-signupButton" name="signupButton" type="submit" value="1">TRY 14 DAYS FREE</button> </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </header>

    <!-- The tabs section of landing page with ios and android download links -->
    <section class="tabs">
      <div class="container">
        <div id="tab-1" class="tab-item">
          <p>Coming soon!</p>
          <p class="hide-sm">Download on the App Store.</p>
        </div>
        <div id="tab-2" class="tab-item">
          <p>Coming soon!</p>
          <p class="hide-sm">Download on Google Play Store.</p>
        </div>
      </div>
    </section>

    <!-- ALL IMAGES AND TEXTS TO PROMOTE THE PRODUCT ON LANDING PAGE -->
    <section class="container-fluid landing-productPromote">
        <!-- 1ST ROW DATA -->
      <div class="row align-items-center row-data">
        <div class="col-md-6">
          <img src="https://firebasestorage.googleapis.com/v0/b/subcrates.appspot.com/o/subscriptionImages%2F1_allsubs.png?alt=media&token=861d725f-022b-49ce-a487-9057113fbaff" alt="Manage your subscriptions" class="img-fluid">
        </div>
        <div class="col-md-6 text-center">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8">
              <h3 class="landing-contentHeaders">View details, plans and monthly expenses of all your subscriptions in one place</h3>
              <p>   </p>
              <p class="landing-lead">
                View all your subscriptions in detail and know exactly what you are paying
                every week, month and year. According to a 2018 survey by <a class="WMG-link" href="https://www.westmonroepartners.com/perspectives/point-of-view/americas-relationship-with-subscription-services"><u>WMG</u></a>, 84% of Americans underestimate 
                what they spend on subscription-based services. We'll help you stay in the other 16%.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- SECOND ROW DATA -->
      <div class="row align-items-center row-data">
        <div class="col-md-6 text-center order-2 order-md-1">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8">
              <h3 class="landing-contentHeaders">Discover 150+ subscriptions in 17 categories for all your needs</h3>
              <p>   </p>
              <p class="landing-lead">
                From entertainment to fashion, from literature to health & wellness, we have you covered.
                We have a collection of over 150+ subscriptions in 17 categories (<strong>that we are continuously 
                expanding</strong>) so you can have the best options to choose from. And we make sure they 
                are authentic and safe so you can subscribe without any worry!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 order-1 order-md-2">
          <img src="https://firebasestorage.googleapis.com/v0/b/subcrates.appspot.com/o/subscriptionImages%2F2_collections.png?alt=media&token=319df3fe-0c66-4912-bad0-97961a81c776" alt="Find new subscriptions" class="img-fluid">
        </div>
      </div>
      <!-- THIRD ROW DATA -->
      <div class="row align-items-center row-data">
        <div class="col-md-6">
          <img src="https://firebasestorage.googleapis.com/v0/b/subcrates.appspot.com/o/subscriptionImages%2F_notification_landingpage.png?alt=media&token=cada1dc0-f468-4a84-832c-c2dc4dfd0985" alt="Get notification reminders" class="img-fluid">
        </div>
        <div class="col-md-6 text-center">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8">
              <h3 class="landing-contentHeaders">Get notifications before you are charged every period with our mobile app for both Android and iOS</h3>
              <p>   </p>
              <p class="landing-lead">
                Subcrates lets you select how many days ahead you want to be notified for each subscription so you're always on top of your bills. 
                <strong>No more sneaky charges!</strong> 
                <!-- New members joining the Subcrates family will get a 14-day free trial when you sign up. After that, it's only $0.99 a month.
                Like we said, it's so cheap, it's almost free! Plus, you can cancel anytime. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FAQ SECTION -->
    <section class="accordion-section clearfix mt-3 faq-section" aria-label="Question Accordions">
      <div class="container">
      
        <h2 class="landing-faq-header">Frequently Asked Questions </h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
            What is Subcrates?
            </a>
          </h3>
          </div>
          <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
          <div class="panel-body px-3 mb-4">
            <p>
              Subcrates is your one-stop for subscriptions. We are a platform that helps you discover new subscriptions 
              and manage the ones you own. Our mission is to have all of the world's subscriptions in one place and 
              give you the most relevent information so you can choose the best subscriptions for yourself. 
            </p>
          </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
              Why use Subcrates?
            </a>
          </h3>
          </div>
          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
          <div class="panel-body px-3 mb-4">
            <p>
              As subscriptions become more common, it can be hard to find the right ones for yourself. If you had to guess
              how many subscriptions you can name off the top of your head, you'd probably be able guess a few dozen. But 
              there are <strong><em>literally</em></strong> thousands of subscriptions out there in every category you can think of. It's also hard to remember
              and manage all of the ones you have. Subcrates solves both of these problems for you by finding authentic and
              safe subscriptions and sorting them out in an organized and categorized collection. We also help you manage
              your subscriptions and  send you notification reminders before you are charged so you don't get any sneaky charges.
            </p>
          </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
              How do I add my subscriptions?
            </a>
          </h3>
          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
          <div class="panel-body px-3 mb-4">
            <p>
              Once you're logged in, simply search for your subscriptions in the search bar. If it is currently in our collection, you can select it
              and click 'Add to My Crate' and then fill in all the details. If it is not currently in our collection, then click 'Options'
              and then click 'My Crate' and add it by clicking on 'Custom Subscription'. Also, if you would like us to add it to our collection you can email
              us at <span><u><a style="color: #4669c8" href="mailto:suggestions@subscrates.com">suggestions@subscrates.com</a></u></span> and we'll add it as soon as we can. We always welcome new suggestions!
            </p>
            <p style="color: #e74c3c">
              NOTE: Adding a subscription on Subcrates doesn't subscribe you to the service. Please subscribe 
              on the official site to get the service and use Subcrates to manage them in one place.
            </p>
          </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
              How do I manage my subscriptions?
            </a>
          </h3>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
          <div class="panel-body px-3 mb-4">
            <p>
              Once you are logged in, click 'Options' and go to 'My Crate'. Here, you'll be able to 
              see a list of your current subscriptions with their details, add or remove a subscription from your list, 
              edit information for each subscription you own and view your total weekly, monthly and yearly expenses.
            </p>
          </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
              How does the free trial work?
            </a>
          </h3>
          </div>
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
          <div class="panel-body px-3 mb-4">
            <p>
              All new members will automatically get a 14-day free trial when they sign up. Once the free trial expires, 
              you'll be prompted to subscribe, and it's only <strong>$0.99 a month</strong>. You can also fill in your payment 
              information in 'Settings' before your free trial expires, and we'll start billing you monthly. We use Stripe to make sure your payment is safe 
              and secure. 
            </p>
          </div>
          </div>
        </div>
        </div>
      
      </div>
    </section>

    <div class="landing-bottom-signup">
      <div class="landing-bottomSignUpLink">
        <a id="bottom-signup" href="/" type="button" style="background: rgb(46, 204, 113);">Try 14 Days Free</a>
      </div>
      <p>
        Ready to try Subcrates?
      </p>
    </div>


    
    <%- include("../partials/footer") %>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%- include("../partials/scripts") %>


</body>
</html>