.visible-xs{
	display: none !important;
}
.hidden-xs{
	display: block !important;
}
@media(max-width: 767px){
	.visible-xs{
		display: block !important;
	}
	.hidden-xs{
		display: none !important;
	}
}
@media(max-width: 1440px){
	html, body{
		font-size: 14px;
	}
}
@media(max-width: 1366px){
	html, body{
		font-size: 13px;
	}
	.slick-arrow.slick-prev{
	    left: -2rem;
	}
	.slick-arrow.slick-next{
	    right: -2rem;
	}
}
@media(max-width: 1200px){
	html, body{
		font-size: 12px;
	}
}
@media(max-width: 1024px){
	html, body{
		font-size: 10px;
	}
	.header .content_box label {
	    color: #9FA1AB;
	    font-size: 1.1rem;
	    padding-left: 1.85rem;
	}
	input#search_field {
		padding: .5rem 1.9rem;
	}
}
@media(max-width: 767px){
	html, body{
		font-size: 12px;
	}
	.navbar-dark .navbar-toggler{
	    border: 0.1rem solid #E2E6E9;
	}
	.navbar-dark .navbar-toggler-icon{
	    background: url(../images/menu.png);
	    background-size: 100% 60%;
	    background-repeat: no-repeat;
	    background-position: center;
	}
	.header .content_box span{
	    width: 100%
	}
	.landing_section .try_box{
	    background: #F5F5F9;
	}
	.nav_section2 .navbar-toggler{
	    display: none;
	}
	footer .col-md-6 p{
	    text-align: center;
	}
	footer .bot_link{
	    text-align: center;
	    margin-bottom: 1rem;
	}
	footer .bot_link li a{
	    padding: 0 1rem;
	}
	.subscripe_section .col {
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}
	.subscripe_section .comparison{
		padding: 0;
	}
	.subscripe_section .grey_rate{
		padding: 0;
		text-align: center;
	}
	.crate_section .expense_box .white_box{
		margin-bottom: 1rem;
	}
	.crate_section .title .btn_blue{
		padding: 1rem 1rem;
	}
	.slick-arrow{
		display: none !important;
	}
	.desktop{
	    display: none !important;
	}
	.mobile{
	    display: inline-block !important;
	}
	.order{
	    order: initial;
	}
}
@media(max-width: 576px){
	.header .content_box{
		padding: 3rem;
	}
	.landing_section .try_box .border-right{
		border: 0 !important;
	}
	.subscribe_section .blue_box{
		text-align: center;
		padding: 2rem;
	}
	.subscribe_section .blue_box .text-right{
		text-align: center !important;
	}
	.menu_bar ul li a{
		font-size: 1.5rem;
    	padding: 1.5rem 2rem;
	}
}
@media(max-width: 480px){
	.brand_slide .brand_box, .brand_slide .brand_box img {
	    width: 99% !important;
	}
	.payments_row .col-6{
		flex:0 100%;
		max-width: 100%;
	}
}
@media screen and (min-width: 600px) and (max-width: 767px){
	.headline_section .white_box .bottom ul li{
		font-size: 0.8rem;
	}
}