<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include("partials/head") %> 
	<title>Subcrates | Business Dashboard</title>
</head>
<body>
	<div class="menu_bar">
		<div class="top">
			<span class="close_menu"><img src="../public/images/close.png" alt="#"></span>
			<div class="form">
				<input type="search" name="menu_search" placeholder="Search" id="mob_search_field">
				<a href="#" class="search_icon"><img src="../public/images/search_icon.png" alt="#"></a>
			</div>
		</div>
		<ul>
			<li class="nav-item">
		        <a class="nav-link" href="#">Home</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">My Crate</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">Settings</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">Headlines</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">Contact Us</a>
		    </li>
		</ul>
	</div>
	<section class="nav_section">
		<div class="container">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			  <!-- Brand -->
			  <a class="navbar-brand" href="#"><img src="../public/images/logo.png" alt="#"></a>

			  <!-- Toggler/collapsibe Button -->
			  <button class="navbar-toggler open_menu" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <!-- Navbar links -->
			  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <div class="form-search">
		        		<input type="search" name="search" id="search_field" placeholder="Search">
		        	</div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="index.html">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="my_crates.html">My Crate</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="settings.html">Settings</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="headlines.html">Headlines</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Contact Us</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</section>
	<section class="dashboard_section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="heading">Subscrates Dashboard</div>
					<div class="grey_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
					<div class="dash_button_sec">
						<div class="row">
							<div class="col-12 col-md-4">
								<a href="#" class="dash_btn">
									<div class="img_box"><img src="../public/images/dollar.png" alt="#"></div>
									<div class="button_name">Total Purchase Cost</div>
									<div class="button_price">$200</div>
								</a>
							</div>
							<div class="col-12 col-md-4">
								<a href="#" class="dash_btn">
									<div class="img_box"><img src="../public/images/stripe.png" alt="#"></div>
									<div class="button_name">Stripe processing Fee</div>
									<div class="button_price">$6</div>
								</a>
							</div>
							<div class="col-12 col-md-4">
								<a href="#" class="dash_btn">
									<div class="img_box"><img src="../public/images/subcrates.png" alt="#"></div>
									<div class="button_name">Subcrates Fee</div>
									<div class="button_price">$10</div>
								</a>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-4">
								<a href="#" class="dash_btn">
									<div class="img_box"><img src="../public/images/gift-box.png" alt="#"></div>
									<div class="button_name">No. of gifts purchases</div>
									<div class="button_price">20</div>
								</a>
							</div>
							<div class="col-12 col-md-4">
								<a href="#" class="dash_btn">
									<div class="img_box"><img src="../public/images/checked.png" alt="#"></div>
									<div class="button_name">Completed Payouts</div>
									<div class="button_price">$50</div>
								</a>
							</div>
							<div class="col-12 col-md-4">
								<a href="#" class="dash_btn">
									<div class="img_box"><img src="../public/images/time.png" alt="#"></div>
									<div class="button_name">Pending Payouts</div>
									<div class="button_price">$134</div>
								</a>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-12 col-md-8">
							<div class="blue_text">We send payouts every Friday for the amount that has been processed through Stripe. Please allow up to 3 business days to receive the payouts after that.</div>
						</div>
					</div>
					<div class="heading heading_sm">Gift purchases</div>
					<div class="grey_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sod tempor incididunt ut labore et dolore d minim veniam</div>
					<div class="purchase_track">
						<div class="purchase_info">
							<div class="date">Date: 22 Nov, 2020 <a href="#">Download</a></div>
							<hr>
							<div class="row">
								<div class="col">
									<div class="text_box">
										<div class="head">Name of buyer</div>
										<div class="text">John Doe</div>
									</div>
									<div class="text_box">
										<div class="head">Name of Recipient</div>
										<div class="text">Susan Doe</div>
									</div>
									<div class="text_box">
										<div class="head">Email to receive card with code</div>
										<div class="text">test@gmail.com</div>
									</div>
								</div>
								<div class="col">
									<div class="text_box">
										<div class="head">Plan Purchased</div>
										<div class="text">Plan 1</div>
									</div>
									<div class="text_box">
										<div class="head">Months gifted</div>
										<div class="text">3</div>
									</div>
									<div class="text_box">
										<div class="head">Gifting Occasion</div>
										<div class="text">Christmas</div>
									</div>
								</div>
								<div class="col">
									<div class="text_box">
										<div class="head">Total Purchase Price</div>
										<div class="text">$50</div>
									</div>
									<div class="text_box">
										<div class="head">Stripe fee</div>
										<div class="text text_grey">$1.5</div>
									</div>
									<div class="text_box">
										<div class="head">Subcrates fee </div>
										<div class="text text_grey">$2.5</div>
									</div>
								</div>
								<div class="col">
									<div class="text_box">
										<div class="head">Payout to receive</div>
										<div class="text">$46</div>
									</div>
								</div>
							</div>
						</div>
						<div class="purchase_info">
							<div class="date">Date: 22 Nov, 2020 <a href="#">Download</a></div>
							<hr>
							<div class="row">
								<div class="col">
									<div class="text_box">
										<div class="head">Name of buyer</div>
										<div class="text">John Doe</div>
									</div>
									<div class="text_box">
										<div class="head">Name of Recipient</div>
										<div class="text">Susan Doe</div>
									</div>
									<div class="text_box">
										<div class="head">Email to receive card with code</div>
										<div class="text">test@gmail.com</div>
									</div>
								</div>
								<div class="col">
									<div class="text_box">
										<div class="head">Plan Purchased</div>
										<div class="text">Plan 1</div>
									</div>
									<div class="text_box">
										<div class="head">Months gifted</div>
										<div class="text">3</div>
									</div>
									<div class="text_box">
										<div class="head">Gifting Occasion</div>
										<div class="text">Christmas</div>
									</div>
								</div>
								<div class="col">
									<div class="text_box">
										<div class="head">Total Purchase Price</div>
										<div class="text">$50</div>
									</div>
									<div class="text_box">
										<div class="head">Stripe fee</div>
										<div class="text text_grey">$1.5</div>
									</div>
									<div class="text_box">
										<div class="head">Subcrates fee </div>
										<div class="text text_grey">$2.5</div>
									</div>
								</div>
								<div class="col">
									<div class="text_box">
										<div class="head">Payout to receive</div>
										<div class="text">$46</div>
									</div>
								</div>
							</div>
						</div>
						<div class="purchase_info">
							<div class="date">Date: 22 Nov, 2020 <a href="#">Download</a></div>
							<hr>
							<div class="row">
								<div class="col">
									<div class="text_box">
										<div class="head">Name of buyer</div>
										<div class="text">John Doe</div>
									</div>
									<div class="text_box">
										<div class="head">Name of Recipient</div>
										<div class="text">Susan Doe</div>
									</div>
									<div class="text_box">
										<div class="head">Email to receive card with code</div>
										<div class="text">test@gmail.com</div>
									</div>
								</div>
								<div class="col">
									<div class="text_box">
										<div class="head">Plan Purchased</div>
										<div class="text">Plan 1</div>
									</div>
									<div class="text_box">
										<div class="head">Months gifted</div>
										<div class="text">3</div>
									</div>
									<div class="text_box">
										<div class="head">Gifting Occasion</div>
										<div class="text">Christmas</div>
									</div>
								</div>
								<div class="col">
									<div class="text_box">
										<div class="head">Total Purchase Price</div>
										<div class="text">$50</div>
									</div>
									<div class="text_box">
										<div class="head">Stripe fee</div>
										<div class="text text_grey">$1.5</div>
									</div>
									<div class="text_box">
										<div class="head">Subcrates fee </div>
										<div class="text text_grey">$2.5</div>
									</div>
								</div>
								<div class="col">
									<div class="text_box">
										<div class="head">Payout to receive</div>
										<div class="text">$46</div>
									</div>
								</div>
							</div>
						</div>
						<div class="purchase_info">
							<div class="date">Date: 22 Nov, 2020 <a href="#">Download</a></div>
							<hr>
							<div class="row">
								<div class="col">
									<div class="text_box">
										<div class="head">Name of buyer</div>
										<div class="text">John Doe</div>
									</div>
									<div class="text_box">
										<div class="head">Name of Recipient</div>
										<div class="text">Susan Doe</div>
									</div>
									<div class="text_box">
										<div class="head">Email to receive card with code</div>
										<div class="text">test@gmail.com</div>
									</div>
								</div>
								<div class="col">
									<div class="text_box">
										<div class="head">Plan Purchased</div>
										<div class="text">Plan 1</div>
									</div>
									<div class="text_box">
										<div class="head">Months gifted</div>
										<div class="text">3</div>
									</div>
									<div class="text_box">
										<div class="head">Gifting Occasion</div>
										<div class="text">Christmas</div>
									</div>
								</div>
								<div class="col">
									<div class="text_box">
										<div class="head">Total Purchase Price</div>
										<div class="text">$50</div>
									</div>
									<div class="text_box">
										<div class="head">Stripe fee</div>
										<div class="text text_grey">$1.5</div>
									</div>
									<div class="text_box">
										<div class="head">Subcrates fee </div>
										<div class="text text_grey">$2.5</div>
									</div>
								</div>
								<div class="col">
									<div class="text_box">
										<div class="head">Payout to receive</div>
										<div class="text">$46</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					<a href="#"><img src="../public/images/logo.png" alt="#" class="logo"></a>
					<p>Subcrates is your one-stop for subscriptions. We are a platform that helps you discover new subscriptions and manage the ones you own. </p>
					<ul class="list-inline social">
						<li class="list-inline-item"><a href="#"><img src="../public/images/facebook.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="../public/images/instagram.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="../public/images/twitter.png" alt="#"></a></li>
					</ul>
				</div>
				<div class="col-12 col-md-4">
					<h4>Links</h4>
					<div class="row">
						<div class="col-6">
							<ul class="links">
								<li><a href="#">Home</a></li>
								<li><a href="#">My Crate</a></li>
								<li><a href="#">Settings</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
						<div class="col-6">
							<ul class="links">
								<li><a href="#">Suggestions</a></li>
								<li><a href="#">Got Questions</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<h4>Download Subcrates app</h4>
					<p>Lorem ipsum dolor sit amet, consectetur ..</p>
					<div><a href="#"><img src="../public/images/app_store.png" alt="#" class="store"></a></div>
					<div><a href="#"><img src="../public/images/google_play.png" alt="#" class="store"></a></div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-12 col-md-6">
					<p>Copyrights © 2020 <a href="#">Subcrates.</a> All rights reserved.</p>
				</div>
				<div class="col-12 col-md-6">
					<ul class="bot_link list-inline">
						<li class="list-inline-item"><a href="#">Terms of Service</a></li>
						<li class="list-inline-item"><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>


	<%- include("partials/foot") %> 
<script type="text/javascript">
	$(document).ready(function(){
		$('.open_menu').click(function(){
			$('.menu_bar').addClass('active');
			$('.navbar-collapse').css('display','none');
		});
		$('.close_menu').click(function(){
			$('.menu_bar').removeClass('active');
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.btn_white').click(function(){
			$('.saved_profile').removeClass('active');
			$('.edit_profile').addClass('active');
			$('.btn_white2').addClass('active');
			$('.btn_white').removeClass('active');
		});
		$('.btn_white2').click(function(){
			$('.saved_profile').addClass('active');
			$('.edit_profile').removeClass('active');
			$('.btn_white2').removeClass('active');
			$('.btn_white').addClass('active');
		});
	});
</script>
<script>
	$(document).ready(function(){
		$('#datepicker').datepicker({
	        uiLibrary: 'bootstrap4'
	    });
	});
</script>
<script type="text/javascript">
	var options = {
	data: [
		  {"name": "Afghanistan", "code": "AF"},
		  {"name": "Aland Islands", "code": "AX"},
		  {"name": "Albania", "code": "AL"},
		  {"name": "Algeria", "code": "DZ"},
		  {"name": "American Samoa", "code": "AS"}
		  ],
  		getValue: "name",
		list: {
			match: {
				enabled: true
			}
		}
	};

	$("#search_field").easyAutocomplete(options);
// for mobile
	$("#mob_search_field").easyAutocomplete(options);
</script>
</body>
</html>