<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" href="./assets/css/easy-autocomplete.min.css">
	<link rel="stylesheet" href="./assets/css/easy-autocomplete.themes.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/responsive-style.css">
	<title>Subcrates | Category</title>
</head>
<body>
	<div class="menu_bar">
		<div class="top">
			<span class="close_menu"><img src="./assets/images/close.png" alt="#"></span>
			<div class="form">
				<input type="search" name="menu_search" placeholder="Search" id="mob_search_field">
				<a href="#" class="search_icon"><img src="./assets/images/search_icon.png" alt="#"></a>
			</div>
		</div>
		<ul>
			<li class="nav-item">
		        <a class="nav-link" href="#">Home</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">My Crate</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">Settings</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">Headlines</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">Contact Us</a>
		    </li>
		</ul>
	</div>
	<section class="nav_section">
		<div class="container">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			  <!-- Brand -->
			  <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" alt="#"></a>

			  <!-- Toggler/collapsibe Button -->
			  <button class="navbar-toggler open_menu" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <!-- Navbar links -->
			  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <div class="form-search">
		        		<input type="search" name="search" id="search_field" placeholder="Search">
		        	</div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="index.html">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="my_crates.html">My Crate</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="settings.html">Settings</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="headlines.html">Headlines</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Contact Us</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</section>
	<section class="brand_section no_arrow">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="brand_slide">
						<div class="featured-section-heading">
							<div class="heading mb-0">Software</div>
						</div>
						<div class="responsive">
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img1.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_9.png" alt="#"></div>
											<span>1Password</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img2.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_10.png" alt="#"></div>
											<span>Amazon</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img3.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_11.png" alt="#"></div>
											<span>Adobe</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img4.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_12.png" alt="#"></div>
											<span>Dribbble</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img1.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_9.png" alt="#"></div>
											<span>1Password</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img2.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_10.png" alt="#"></div>
											<span>Amazon</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img3.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_11.png" alt="#"></div>
											<span>Adobe</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img4.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_12.png" alt="#"></div>
											<span>Dribbble</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="responsive2">
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img1.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_9.png" alt="#"></div>
											<span>1Password</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img2.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_10.png" alt="#"></div>
											<span>Amazon</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img3.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_11.png" alt="#"></div>
											<span>Adobe</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img4.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_12.png" alt="#"></div>
											<span>Dribbble</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img1.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_9.png" alt="#"></div>
											<span>1Password</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img2.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_10.png" alt="#"></div>
											<span>Amazon</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img3.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_11.png" alt="#"></div>
											<span>Adobe</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img4.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_12.png" alt="#"></div>
											<span>Dribbble</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="responsive3">
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img1.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_9.png" alt="#"></div>
											<span>1Password</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img2.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_10.png" alt="#"></div>
											<span>Amazon</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img3.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_11.png" alt="#"></div>
											<span>Adobe</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img4.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_12.png" alt="#"></div>
											<span>Dribbble</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img1.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_9.png" alt="#"></div>
											<span>1Password</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img2.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_10.png" alt="#"></div>
											<span>Amazon</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img3.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_11.png" alt="#"></div>
											<span>Adobe</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="./assets/images/box_img4.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="./assets/images/icon_12.png" alt="#"></div>
											<span>Dribbble</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="text-center">
											<a href="#" class="view_link">View More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					<a href="#"><img src="./assets/images/logo.png" alt="#" class="logo"></a>
					<p>Subcrates is your one-stop for subscriptions. We are a platform that helps you discover new subscriptions and manage the ones you own. </p>
					<ul class="list-inline social">
						<li class="list-inline-item"><a href="#"><img src="./assets/images/facebook.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="./assets/images/instagram.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="./assets/images/twitter.png" alt="#"></a></li>
					</ul>
				</div>
				<div class="col-12 col-md-4">
					<h4>Links</h4>
					<div class="row">
						<div class="col-6">
							<ul class="links">
								<li><a href="#">Home</a></li>
								<li><a href="#">My Crate</a></li>
								<li><a href="#">Settings</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
						<div class="col-6">
							<ul class="links">
								<li><a href="#">Suggestions</a></li>
								<li><a href="#">Got Questions</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<h4>Download Subcrates app</h4>
					<p>Lorem ipsum dolor sit amet, consectetur ..</p>
					<div><a href="#"><img src="./assets/images/app_store.png" alt="#" class="store"></a></div>
					<div><a href="#"><img src="./assets/images/google_play.png" alt="#" class="store"></a></div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-12 col-md-6">
					<p>Copyrights © 2020 <a href="#">Subcrates.</a> All rights reserved.</p>
				</div>
				<div class="col-12 col-md-6">
					<ul class="bot_link list-inline">
						<li class="list-inline-item"><a href="#">Terms of Service</a></li>
						<li class="list-inline-item"><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<div class="modal" id="myModal">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <!-- Modal Header -->
	      <div class="modal-header" style="border-bottom: 0;">
	        <button type="button" class="close" data-dismiss="modal"><img src="./assets/images/close.png" alt="#"></button>
	      </div>
	      <!-- Modal body -->
	      <div class="modal-body">
	        <div class="scription">
	        	<div class="name_box">
					<div class="img_box"><img src="./assets/images/icon_12.png" alt="#"></div>
					<span>Software</span>
					<div class="text">Dribbble</div>
				</div>
				<form method="post">
					<div class="form-group">
						<input type="text" name="" placeholder="Enter Name">
					</div>
					<div class="heading">Choose a subscription plan</div>
					<div class="form-group">
						<select class="form-control">
							<option>Pro Monthly</option>
							<option>Pro Monthly</option>
							<option>Pro Monthly</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" name="" placeholder="Enter Custom price">
					</div>
					<div class="blue_text">If you use a custom plan name leave the dropdown option for plans as 'unselected'.*</div>
					<div class="heading">Choose a subscription Price</div>
					<div class="form-group">
						<select class="form-control">
							<option>$12</option>
							<option>$12</option>
							<option>$12</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" name="" placeholder="Enter Custom price">
					</div>
					<div class="blue_text">If you use a custom price value leave the dropdown option for price as 'unselected'.*</div>
					<div class="form-group">
						<input type="text" name="" placeholder="Enter last bill date">
						<img src="./assets/images/calendar_icon.png" alt="#">
					</div>
					<div class="blue_text">If you use a custom price value leave the dropdown option for price as 'unselected'.*</div>
					<div class="heading">How often does this subscription renew?</div>
					<div class="form-group">
						<select class="form-control">
							<option>Weekly</option>
							<option>Weekly</option>
							<option>Weekly</option>
						</select>
					</div>
					<div class="heading">Notify me ___ day(s) before bill is due</div>
					<div class="form-group">
						<select class="form-control">
							<option>5</option>
							<option>5</option>
							<option>5</option>
						</select>
					</div>
					<div class="blue_text">We can notify you between 0 - 6 days before your bill is due.
					'Unselected' means don't notify me about this bill. '0' means
					notify me on the same day as the bill is due.*</div>
					<div class="form-group">
						<textarea placeholder="Add note" class="form-control"></textarea>
					</div>
					<div class="red_text">Disclaimer: Adding to your crate doesn't subscribe you to the service. Click the name and subscribe on the official website.</div>
					<div class="text-center">
						<a href="#" class="btn_blue">Add to My Crate</a>
					</div>
				</form>
	        </div>
	      </div>

	    </div>
	  </div>
	</div>
	<div class="modal" id="myModal1">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <!-- Modal Header -->
	      <div class="modal-header" style="border-bottom: 0;">
	        <button type="button" class="close" data-dismiss="modal"><img src="./assets/images/close.png" alt="#"></button>
	      </div>
	      <!-- Modal body -->
	      <div class="modal-body pt-0">
	        <div class="scription">
				<form method="post">
					<div class="heading mt-0">Write A Review</div>
					<div class="form-group">
						<input type="text" name="" placeholder="Name">
					</div>
					<div class="form-group">
						<input type="text" name="" placeholder="Email">
					</div>
					<div class="form-group">
						<ul class="list-inline rating">
							<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
					</div>
					<div class="form-group">
						<textarea placeholder="Comments" class="mt-0"></textarea>
					</div>
				</form>
	        </div>
	      </div>

	    </div>
	  </div>
	</div>


<script type="text/javascript" src="assets/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="assets/js/popper.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-4.js"></script>
<script src="assets/js/jquery.easy-autocomplete.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
	$('.responsive').slick({
	  dots: false,
	  arrow: true,
	  infinite: false,
	  speed: 300,
	  slidesToShow: 4,
	  slidesToScroll: 4,
	  responsive: [
	    {
	      breakpoint: 1024,
	      settings: {
	        slidesToShow: 3,
	        slidesToScroll: 3,
	        infinite: true
	      }
	    },
	    {
	      breakpoint: 600,
	      settings: {
	        slidesToShow: 2,
	        slidesToScroll: 2
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        arrow: false
	      }
	    }
	    // You can unslick at a given breakpoint now by adding:
	    // settings: "unslick"
	    // instead of a settings object
	  ]
	});
</script>
<script type="text/javascript">
	$('.responsive2').slick({
	  dots: false,
	  arrow: true,
	  infinite: false,
	  speed: 300,
	  slidesToShow: 4,
	  slidesToScroll: 4,
	  responsive: [
	    {
	      breakpoint: 1024,
	      settings: {
	        slidesToShow: 3,
	        slidesToScroll: 3,
	        infinite: true
	      }
	    },
	    {
	      breakpoint: 600,
	      settings: {
	        slidesToShow: 2,
	        slidesToScroll: 2
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        arrow: false
	      }
	    }
	    // You can unslick at a given breakpoint now by adding:
	    // settings: "unslick"
	    // instead of a settings object
	  ]
	});
</script>
<script type="text/javascript">
	$('.responsive3').slick({
	  dots: false,
	  arrow: true,
	  infinite: false,
	  speed: 300,
	  slidesToShow: 4,
	  slidesToScroll: 4,
	  responsive: [
	    {
	      breakpoint: 1024,
	      settings: {
	        slidesToShow: 3,
	        slidesToScroll: 3,
	        infinite: true
	      }
	    },
	    {
	      breakpoint: 600,
	      settings: {
	        slidesToShow: 2,
	        slidesToScroll: 2
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        arrow: false
	      }
	    }
	    // You can unslick at a given breakpoint now by adding:
	    // settings: "unslick"
	    // instead of a settings object
	  ]
	});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.open_menu').click(function(){
			$('.menu_bar').addClass('active');
			$('.navbar-collapse').css('display','none');
		});
		$('.close_menu').click(function(){
			$('.menu_bar').removeClass('active');
		});
	});
</script>
<script type="text/javascript">
	var options = {
	data: [
		  {"name": "Afghanistan", "code": "AF"},
		  {"name": "Aland Islands", "code": "AX"},
		  {"name": "Albania", "code": "AL"},
		  {"name": "Algeria", "code": "DZ"},
		  {"name": "American Samoa", "code": "AS"}
		  ],
  		getValue: "name",
		list: {
			match: {
				enabled: true
			}
		}
	};

	$("#search_field").easyAutocomplete(options);
// for mobile
	$("#mob_search_field").easyAutocomplete(options);
</script>
</body>
</html>