<!-- 
    * This is the screen that is displayed if the password reset link was sent successfully. 
 -->


 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <%- include("partials/head") %>  
 
     <title>Oh no! Something went wrong :( </title>
 </head>
 <body>
     <section class="nav_section nav_section2">
         <div class="container">
             <nav class="navbar navbar-expand-md bg-dark navbar-dark">
               <!-- Brand -->
               <a class="navbar-brand" href="/"><img src="../public/images/logo.png" alt="#"></a>
 
               <!-- Toggler/collapsibe Button -->
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                 <span class="navbar-toggler-icon"></span>
               </button>
             </nav>
         </div>
     </section>
     <section class="form_section">
         <div class="container">
             <div class="row justify-content-center">
                 <div class="col-12 col-md-4 text-center">
                     <form>
                         <div class="heading">Oh no! Something went wrong :(</div>
                         <p>
                            <div class="alert alert-danger" role="alert">
                                <%= message %>
                           </div>
                         </p>
	                    <button type="button" class="close" onclick="window.history.back()"> < Go Back</button>
                     </form>
                 </div>
             </div>
         </div>
     </section>
     <footer>
         <div class="container">
             <div class="row">
                 <div class="col-12 col-md-4">
                     <a><img src="../public/images/logo.png" alt="#" class="logo"></a>
                     <p>
                         Subcrates is your one-stop for subscriptions. We are a platform that helps you 
                         discover new subscriptions, gift subscriptions to friends and family and manage the 
                         subscriptions you own.
                     </p>
                     <ul class="list-inline social">
                         <!-- <li class="list-inline-item"><a href="#"><img src="../public/images/facebook.png" alt="#"></a></li>
                         <li class="list-inline-item"><a href="#"><img src="../public/images/instagram.png" alt="#"></a></li>
                         <li class="list-inline-item"><a href="#"><img src="../public/images/twitter.png" alt="#"></a></li> -->
                     </ul>
                 </div>
                 <div class="col-12 col-md-4">
                     <h4>Links</h4>
                     <div class="row">
                         <div class="col-6">
                             <ul class="links">
                                 <!-- <li><a href="#">Home</a></li>
                                 <li><a href="#">My Crate</a></li>
                                 <li><a href="#">Settings</a></li> -->
                                 <li><a href="mailto:support@subcrates.com">Contact Us</a></li>
                             </ul>
                         </div>
                         <div class="col-6">
                             <ul class="links">
                                 <li><a href="mailto:suggestions@subscrates.com">Suggestions</a></li>
                                 <!-- <li><a href="#">Got Questions</a></li> -->
                             </ul>
                         </div>
                     </div>
                 </div>
                 <div class="col-12 col-md-4">
                     <h4>Download Subcrates app</h4>
                     <p>Download the mobile app to get notifications for your subscriptions before you get billed.</p>
                     <div><a href="https://apps.apple.com/us/app/id1528694362"><img src="../public/images/app_store.png" alt="#" class="store"></a></div>
                     <div><a href="http://play.google.com/store/apps/details?id=com.sub.subcrates"><img src="../public/images/google_play.png" alt="#" class="store"></a></div>
                 </div>
             </div>
             <hr>
             <div class="row">
                 <div class="col-12 col-md-6">
                     <p>Copyrights © 2020 <a href="/tos">Subcrates.</a> All rights reserved.</p>
                 </div>
                 <div class="col-12 col-md-6">
                     <ul class="bot_link list-inline">
                         <li class="list-inline-item"><a href="/tos">Terms of Service</a></li>
                         <li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     </footer>
 
     <%- include("partials/foot") %>  
    <script>
        // Add mixpanel errorpage tracker
        mixpanel.track("Errorpage");
    </script>
 </body>
 </html>