<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include("partials/head") %>  

	<title>Subcrates | Gift Subscriptions to Friends and Family</title>
</head>
<body>
	<div class="menu_bar">
		<div class="top">
			<span class="close_menu"><img src="../public/images/close.png" alt="#"></span>
			<div class="form">
				<input type="search" name="menu_search" placeholder="Search" id="mob_search_field">
				<a href="#" class="search_icon"><img src="../public/images/search_icon.png" alt="#"></a>
			</div>
		</div>
		<ul>
			<li class="nav-item">
		        <a class="nav-link" href="#">Home</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">My Crate</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">Settings</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">Headlines</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">Gift Subscriptions</a>
		    </li>
		</ul>
	</div>
	<section class="nav_section">
		<div class="container">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			  <!-- Brand -->
			  <a class="navbar-brand" href="#"><img src="../public/images/logo.png" alt="#"></a>

			  <!-- Toggler/collapsibe Button -->
			  <button class="navbar-toggler open_menu" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <!-- Navbar links -->
			  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <div class="form-search">
		        		<input type="search" name="search" id="search_field" placeholder="Search">
		        	</div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="index.html">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="my_crates.html">My Crate</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="settings.html">Settings</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="headlines.html">Headlines</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Gift Subscriptions</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
	</section>
	<section class="header_box">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-8 text-center">
					<img src="../public/images/gift.png" alt="#">
					<div class="heading">Subcrates makes it easy & simple to<br class="hidden-xs"> gift subscriptions to friends and family.</div>
					<p>Subcrates has partnered up with the following subscriptions so you can give your friends and family subscriptions as gifts! Celebrate the holidays, someone's birthday or just give someone you think will like a subscription today! You can choose how many months you want to gift and it's easy and simple.</p>
					<a href="#" data-toggle="modal" data-target="#myModal" class="btn_blue">Know more</a>
				</div>
			</div>
		</div>
	</section>
	<section class="brand_section no_arrow">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="brand_slide">
						<div class="featured-section-heading">
							<div class="heading heading_sm mb-0">Here are the subscriptions offered on Subcrates currently</div>
						</div>
						<div class="responsive">
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img1.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_9.png" alt="#"></div>
											<span>1Password</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="/giftform" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img2.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_10.png" alt="#"></div>
											<span>Amazon</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="/giftform" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img3.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_11.png" alt="#"></div>
											<span>Adobe</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="/giftform" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img4.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_12.png" alt="#"></div>
											<span>Dribbble</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="/giftform" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img1.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_9.png" alt="#"></div>
											<span>1Password</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="/giftform" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img2.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_10.png" alt="#"></div>
											<span>Amazon</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="/giftform" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img3.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_11.png" alt="#"></div>
											<span>Adobe</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="/giftform" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img4.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_12.png" alt="#"></div>
											<span>Dribbble</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="/giftform" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="responsive2">
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img1.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_9.png" alt="#"></div>
											<span>1Password</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="/giftform" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img2.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_10.png" alt="#"></div>
											<span>Amazon</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="/giftform" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img3.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_11.png" alt="#"></div>
											<span>Adobe</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img4.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_12.png" alt="#"></div>
											<span>Dribbble</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img1.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_9.png" alt="#"></div>
											<span>1Password</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img2.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_10.png" alt="#"></div>
											<span>Amazon</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img3.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_11.png" alt="#"></div>
											<span>Adobe</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img4.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_12.png" alt="#"></div>
											<span>Dribbble</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="responsive3">
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img1.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_9.png" alt="#"></div>
											<span>1Password</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img2.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_10.png" alt="#"></div>
											<span>Amazon</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img3.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_11.png" alt="#"></div>
											<span>Adobe</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img4.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_12.png" alt="#"></div>
											<span>Dribbble</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img1.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_9.png" alt="#"></div>
											<span>1Password</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img2.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_10.png" alt="#"></div>
											<span>Amazon</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img3.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_11.png" alt="#"></div>
											<span>Adobe</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
							<div>
								<div class="brand_box">
									<img src="../public/images/box_img4.png" alt="#">
									<div class="bottom">
										<div class="name">
											<div class="img_box"><img src="../public/images/icon_12.png" alt="#"></div>
											<span>Dribbble</span>
										</div>
										<p>Online password storage with one-click feature.</p>
										<hr>
										<div class="row justify-content-between">
											<a href="#" class="blue_link">View More</a>
											<a href="#" class="green_link">Gift</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					<a href="#"><img src="../public/images/logo.png" alt="#" class="logo"></a>
					<p>Subcrates is your one-stop for subscriptions. We are a platform that helps you discover new subscriptions and manage the ones you own. </p>
					<ul class="list-inline social">
						<li class="list-inline-item"><a href="#"><img src="../public/images/facebook.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="../public/images/instagram.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="../public/images/twitter.png" alt="#"></a></li>
					</ul>
				</div>
				<div class="col-12 col-md-4">
					<h4>Links</h4>
					<div class="row">
						<div class="col-6">
							<ul class="links">
								<li><a href="#">Home</a></li>
								<li><a href="#">My Crate</a></li>
								<li><a href="#">Settings</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
						<div class="col-6">
							<ul class="links">
								<li><a href="#">Suggestions</a></li>
								<li><a href="#">Got Questions</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<h4>Download Subcrates app</h4>
					<p>Lorem ipsum dolor sit amet, consectetur ..</p>
					<div><a href="#"><img src="../public/images/app_store.png" alt="#" class="store"></a></div>
					<div><a href="#"><img src="../public/images/google_play.png" alt="#" class="store"></a></div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-12 col-md-6">
					<p>Copyrights © 2020 <a href="#">Subcrates.</a> All rights reserved.</p>
				</div>
				<div class="col-12 col-md-6">
					<ul class="bot_link list-inline">
						<li class="list-inline-item"><a href="#">Terms of Service</a></li>
						<li class="list-inline-item"><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<div class="modal" id="myModal">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <!-- Modal body -->
	      <div class="modal-body">
	        <div class="scription scription2">
				<img src="../public/images/gift_popup.png" alt="#">
				<div class="heading">Here's how it works</div>
				<p class="context_text"><b>Step 1:</b> <br>
					Click the green 'Gift' button on the subscription you want to gift and fill out all the information.<br><br>

					<b>Step 2:</b> <br>
					Complete your payment.<br><br>

					<b>Step 3:</b><br>
					You will be emailed a beautiful card with the code that the recipient of the gift can use to redeem the free months when they sign up on the subscription's website or app.<br><br>

					<b>Step 4:</b> <br>
					Send them the email you received. If you purchased it for a special event like Christmas or a birthday then you can take it to your nearest FedEx where they can print it on a printable card.<br><br>

					<b>Step 5:</b><br>
					The receipient can go on the website of the subscription and when they're signing up they can redeem the code for the free months you gifted them. We'll have the link for specific details about each subscription printed on the back of the card.<br><br>
				</p>
	        </div>
	      </div>

	    </div>
	  </div>
	</div>


	<%- include("partials/foot") %>  

<script type="text/javascript">
	$('.responsive').slick({
	  dots: false,
	  arrow: true,
	  infinite: false,
	  speed: 300,
	  slidesToShow: 4,
	  slidesToScroll: 4,
	  responsive: [
	    {
	      breakpoint: 1024,
	      settings: {
	        slidesToShow: 3,
	        slidesToScroll: 3,
	        infinite: true
	      }
	    },
	    {
	      breakpoint: 600,
	      settings: {
	        slidesToShow: 2,
	        slidesToScroll: 2
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        arrow: false
	      }
	    }
	    // You can unslick at a given breakpoint now by adding:
	    // settings: "unslick"
	    // instead of a settings object
	  ]
	});
</script>
<script type="text/javascript">
	$('.responsive2').slick({
	  dots: false,
	  arrow: true,
	  infinite: false,
	  speed: 300,
	  slidesToShow: 4,
	  slidesToScroll: 4,
	  responsive: [
	    {
	      breakpoint: 1024,
	      settings: {
	        slidesToShow: 3,
	        slidesToScroll: 3,
	        infinite: true
	      }
	    },
	    {
	      breakpoint: 600,
	      settings: {
	        slidesToShow: 2,
	        slidesToScroll: 2
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        arrow: false
	      }
	    }
	    // You can unslick at a given breakpoint now by adding:
	    // settings: "unslick"
	    // instead of a settings object
	  ]
	});
</script>
<script type="text/javascript">
	$('.responsive3').slick({
	  dots: false,
	  arrow: true,
	  infinite: false,
	  speed: 300,
	  slidesToShow: 4,
	  slidesToScroll: 4,
	  responsive: [
	    {
	      breakpoint: 1024,
	      settings: {
	        slidesToShow: 3,
	        slidesToScroll: 3,
	        infinite: true
	      }
	    },
	    {
	      breakpoint: 600,
	      settings: {
	        slidesToShow: 2,
	        slidesToScroll: 2
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        arrow: false
	      }
	    }
	    // You can unslick at a given breakpoint now by adding:
	    // settings: "unslick"
	    // instead of a settings object
	  ]
	});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.open_menu').click(function(){
			$('.menu_bar').addClass('active');
			$('.navbar-collapse').css('display','none');
		});
		$('.close_menu').click(function(){
			$('.menu_bar').removeClass('active');
		});
	});
</script>
<script type="text/javascript">
	var options = {
	data: [
		  {"name": "Afghanistan", "code": "AF"},
		  {"name": "Aland Islands", "code": "AX"},
		  {"name": "Albania", "code": "AL"},
		  {"name": "Algeria", "code": "DZ"},
		  {"name": "American Samoa", "code": "AS"}
		  ],
  		getValue: "name",
		list: {
			match: {
				enabled: true
			}
		}
	};

	$("#search_field").easyAutocomplete(options);
// for mobile
	$("#mob_search_field").easyAutocomplete(options);
</script>
</body>
</html>