<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" href="./assets/css/easy-autocomplete.min.css">
	<link rel="stylesheet" href="./assets/css/easy-autocomplete.themes.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/responsive-style.css">
	<title>Subcrates | Headlines</title>
	<style type="text/css">
		.modal{
			overflow-y: auto;
		}
	</style>
</head>
<body>
	<div class="modal show" id="myModal" style="display: block; padding-right: 8px;">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <!-- Modal Header -->
	      <div class="modal-header">
	        <h4 class="modal-title">Top Headlines</h4>
	        <button type="button" class="close" data-dismiss="modal"><img src="./assets/images/close.png" alt="#"></button>
	      </div>
	      <div class="img_box">
	      	<img src="./assets/images/headline_pop.png" alt="#">
	      </div>
	      <!-- Modal body -->
	      <div class="modal-body">
	        <div class="headline">
	        	<div class="site">
					<span class="img"><img src="./assets/images/headlineicon_1.png" alt="#"></span> Amazon
					<span class="date">25 Nov, 2020</span>
				</div>
				<div class="heading">Lorem ipsum is placeolder text commonly used inthe graphic</div>
				<hr>
				<ul class="list-inline">
					<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
					<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br><br>

				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat<br><br>

				 nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>

				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.<br><br>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br><br>

				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat<br><br>

				 nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>

				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat...</p>	
	        </div>
	      </div>

	    </div>
	  </div>
	</div>

<script type="text/javascript" src="assets/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="assets/js/popper.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-4.js"></script>
<script src="assets/js/jquery.easy-autocomplete.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</body>
</html>