<!-- 
	* [NOT YET UPDATED WITH REAL CODE; JUST DESIGN AND TEMPLATE CODE FOR NOW]
	* This page shows all the headlines currently being shown to the user. Make this page show AI based
	* content nad ads later on.
 -->


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%- include("partials/head") %>  

	<title>Subcrates | Headlines</title>
</head>
<body>
	<div class="menu_bar">
		<div class="top">
			<span class="close_menu"><img src="../public/images/close.png" alt="#"></span>
			<div class="form">
				<input type="search" name="menu_search" placeholder="Search" id="mob_search_field">
				<a href="#" class="search_icon"><img src="../public/images/search_icon.png" alt="#"></a>
			</div>
		</div>
		<ul>
			<li class="nav-item">
		        <a class="nav-link" href="#">Home</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">My Crate</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">Settings</a>
		    </li>
		    <li class="nav-item">
		        <a class="nav-link" href="#">Headlines</a>
				</li>
				<li class="nav-item">
		        <a class="nav-link" href="#">Gift Subscriptions</a>
		    </li>
		    <!-- <li class="nav-item">
		        <a class="nav-link" href="#">Contact Us</a>
		    </li> -->
		</ul>
	</div>
	<section class="nav_section">
		<div class="container">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			  <!-- Brand -->
			  <a class="navbar-brand" href="#"><img src="../public/images/logo.png" alt="#"></a>

			  <!-- Toggler/collapsibe Button -->
			  <button class="navbar-toggler open_menu" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <!-- Navbar links -->
			  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <div class="form-search">
		        		<input type="search" name="search" id="search_field" placeholder="Search">
		        	</div>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="index.html">Home</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="my_crates.html">My Crate</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="settings.html">Settings</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="headlines.html">Headlines</a>
						</li>
						<li class="nav-item">
								<a class="nav-link" href="#">Gift Subscriptions</a>
						</li>
			      <!-- <li class="nav-item">
			        <a class="nav-link" href="#">Contact Us</a>
			      </li> -->
			    </ul>
			  </div>
			</nav>
		</div>
	</section>
	<section class="headline_section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="heading">Top Headlines</div>
					<div class="responsive">
						<div>
							<div class="white_box" data-toggle="modal" data-target="#myModal">
								<img src="../public/images/headline_1.png" alt="#">
								<div class="bottom">
									<div class="name">Lorem ipsum is placeolder
									text commonly used inthe 
									graphic</div>
									<p>Lorem ipsum is placeholder textcom monly used in the graphic</p>
									<div class="site">
										<span class="img"><img src="../public/images/headlineicon_1.png" alt="#"></span> Amazon
									</div>
									<hr>
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
										<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
										<li class="list-inline-item">25 Nov, 2020</li>
									</ul>
								</div>
							</div>
						</div>
						<div>
							<div class="white_box">
								<img src="../public/images/headline_2.png" alt="#">
								<div class="bottom">
									<div class="name">Lorem ipsum is placeolder
									text commonly used inthe 
									graphic</div>
									<p>Lorem ipsum is placeholder textcom monly used in the graphic</p>
									<div class="site">
										<span class="img"><img src="../public/images/headlineicon_2.png" alt="#"></span> Amazon
									</div>
									<hr>
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
										<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
										<li class="list-inline-item">25 Nov, 2020</li>
									</ul>
								</div>
							</div>
						</div>
						<div>
							<div class="white_box">
								<img src="../public/images/headline_3.png" alt="#">
								<div class="bottom">
									<div class="name">Lorem ipsum is placeolder
									text commonly used inthe 
									graphic</div>
									<p>Lorem ipsum is placeholder textcom monly used in the graphic</p>
									<div class="site">
										<span class="img"><img src="../public/images/headlineicon_3.png" alt="#"></span> Amazon
									</div>
									<hr>
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
										<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
										<li class="list-inline-item">25 Nov, 2020</li>
									</ul>
								</div>
							</div>
						</div>
						<div>
							<div class="white_box">
								<img src="../public/images/headline_4.png" alt="#">
								<div class="bottom">
									<div class="name">Lorem ipsum is placeolder
									text commonly used inthe 
									graphic</div>
									<p>Lorem ipsum is placeholder textcom monly used in the graphic</p>
									<div class="site">
										<span class="img"><img src="../public/images/headlineicon_4.png" alt="#"></span> Amazon
									</div>
									<hr>
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
										<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
										<li class="list-inline-item">25 Nov, 2020</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="responsive2">
						<div>
							<div class="white_box">
								<img src="../public/images/headline_1.png" alt="#">
								<div class="bottom">
									<div class="name">Lorem ipsum is placeolder
									text commonly used inthe 
									graphic</div>
									<p>Lorem ipsum is placeholder textcom monly used in the graphic</p>
									<div class="site">
										<span class="img"><img src="../public/images/headlineicon_1.png" alt="#"></span> Amazon
									</div>
									<hr>
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
										<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
										<li class="list-inline-item">25 Nov, 2020</li>
									</ul>
								</div>
							</div>
						</div>
						<div>
							<div class="white_box">
								<img src="../public/images/headline_2.png" alt="#">
								<div class="bottom">
									<div class="name">Lorem ipsum is placeolder
									text commonly used inthe 
									graphic</div>
									<p>Lorem ipsum is placeholder textcom monly used in the graphic</p>
									<div class="site">
										<span class="img"><img src="../public/images/headlineicon_2.png" alt="#"></span> Amazon
									</div>
									<hr>
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
										<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
										<li class="list-inline-item">25 Nov, 2020</li>
									</ul>
								</div>
							</div>
						</div>
						<div>
							<div class="white_box">
								<img src="../public/images/headline_3.png" alt="#">
								<div class="bottom">
									<div class="name">Lorem ipsum is placeolder
									text commonly used inthe 
									graphic</div>
									<p>Lorem ipsum is placeholder textcom monly used in the graphic</p>
									<div class="site">
										<span class="img"><img src="../public/images/headlineicon_3.png" alt="#"></span> Amazon
									</div>
									<hr>
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
										<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
										<li class="list-inline-item">25 Nov, 2020</li>
									</ul>
								</div>
							</div>
						</div>
						<div>
							<div class="white_box">
								<img src="../public/images/headline_4.png" alt="#">
								<div class="bottom">
									<div class="name">Lorem ipsum is placeolder
									text commonly used inthe 
									graphic</div>
									<p>Lorem ipsum is placeholder textcom monly used in the graphic</p>
									<div class="site">
										<span class="img"><img src="../public/images/headlineicon_4.png" alt="#"></span> Amazon
									</div>
									<hr>
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
										<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
										<li class="list-inline-item">25 Nov, 2020</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="heading">Recent News</div>
					<div class="responsive3">
						<div>
							<div class="white_box">
								<img src="../public/images/headline_1.png" alt="#">
								<div class="bottom">
									<div class="name">Lorem ipsum is placeolder
									text commonly used inthe 
									graphic</div>
									<p>Lorem ipsum is placeholder textcom monly used in the graphic</p>
									<div class="site">
										<span class="img"><img src="../public/images/headlineicon_1.png" alt="#"></span> Amazon
									</div>
									<hr>
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
										<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
										<li class="list-inline-item">25 Nov, 2020</li>
									</ul>
								</div>
							</div>
						</div>
						<div>
							<div class="white_box">
								<img src="../public/images/headline_2.png" alt="#">
								<div class="bottom">
									<div class="name">Lorem ipsum is placeolder
									text commonly used inthe 
									graphic</div>
									<p>Lorem ipsum is placeholder textcom monly used in the graphic</p>
									<div class="site">
										<span class="img"><img src="../public/images/headlineicon_2.png" alt="#"></span> Amazon
									</div>
									<hr>
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
										<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
										<li class="list-inline-item">25 Nov, 2020</li>
									</ul>
								</div>
							</div>
						</div>
						<div>
							<div class="white_box">
								<img src="../public/images/headline_3.png" alt="#">
								<div class="bottom">
									<div class="name">Lorem ipsum is placeolder
									text commonly used inthe 
									graphic</div>
									<p>Lorem ipsum is placeholder textcom monly used in the graphic</p>
									<div class="site">
										<span class="img"><img src="../public/images/headlineicon_3.png" alt="#"></span> Amazon
									</div>
									<hr>
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
										<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
										<li class="list-inline-item">25 Nov, 2020</li>
									</ul>
								</div>
							</div>
						</div>
						<div>
							<div class="white_box">
								<img src="../public/images/headline_4.png" alt="#">
								<div class="bottom">
									<div class="name">Lorem ipsum is placeolder
									text commonly used inthe 
									graphic</div>
									<p>Lorem ipsum is placeholder textcom monly used in the graphic</p>
									<div class="site">
										<span class="img"><img src="../public/images/headlineicon_4.png" alt="#"></span> Amazon
									</div>
									<hr>
									<ul class="list-inline">
										<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
										<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
										<li class="list-inline-item">25 Nov, 2020</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					<a href="#"><img src="../public/images/logo.png" alt="#" class="logo"></a>
					<p>Subcrates is your one-stop for subscriptions. We are a platform that helps you discover new subscriptions and manage the ones you own. </p>
					<ul class="list-inline social">
						<li class="list-inline-item"><a href="#"><img src="../public/images/facebook.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="../public/images/instagram.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="../public/images/twitter.png" alt="#"></a></li>
					</ul>
				</div>
				<div class="col-12 col-md-4">
					<h4>Links</h4>
					<div class="row">
						<div class="col-6">
							<ul class="links">
								<li><a href="#">Home</a></li>
								<li><a href="#">My Crate</a></li>
								<li><a href="#">Settings</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
						<div class="col-6">
							<ul class="links">
								<li><a href="#">Suggestions</a></li>
								<li><a href="#">Got Questions</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<h4>Download Subcrates app</h4>
					<p>Lorem ipsum dolor sit amet, consectetur ..</p>
					<div><a href="#"><img src="../public/images/app_store.png" alt="#" class="store"></a></div>
					<div><a href="#"><img src="../public/images/google_play.png" alt="#" class="store"></a></div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-12 col-md-6">
					<p>Copyrights © 2020 <a href="#">Subcrates.</a> All rights reserved.</p>
				</div>
				<div class="col-12 col-md-6">
					<ul class="bot_link list-inline">
						<li class="list-inline-item"><a href="#">Terms of Service</a></li>
						<li class="list-inline-item"><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<div class="modal" id="myModal">
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <!-- Modal Header -->
	      <div class="modal-header">
	        <h4 class="modal-title">Top Headlines</h4>
	        <button type="button" class="close" data-dismiss="modal"><img src="../public/images/close.png" alt="#"></button>
	      </div>
	      <div class="img_box">
	      	<img src="../public/images/headline_pop.png" alt="#">
	      </div>
	      <!-- Modal body -->
	      <div class="modal-body">
	        <div class="headline">
	        	<div class="site">
					<span class="img"><img src="../public/images/headlineicon_1.png" alt="#"></span> Amazon
					<span class="date">25 Nov, 2020</span>
				</div>
				<div class="heading">Lorem ipsum is placeolder text commonly used inthe graphic</div>
				<hr>
				<ul class="list-inline">
					<li class="list-inline-item"><i class="fa fa-eye"></i> 15.5k</li>
					<li class="list-inline-item"><i class="fa fa-clock"></i> 3min</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br><br>

				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat<br><br>

				 nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>

				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.<br><br>

				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br><br>

				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat<br><br>

				 nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>

				exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat...</p>	
	        </div>
	      </div>

	    </div>
	  </div>
	</div>

	<%- include("partials/foot") %>  

<script type="text/javascript">
	$('.responsive').slick({
	  dots: false,
	  arrow: false,
	  infinite: false,
	  speed: 300,
	  slidesToShow: 4,
	  slidesToScroll: 4,
	  responsive: [
	    {
	      breakpoint: 1024,
	      settings: {
	        slidesToShow: 3,
	        slidesToScroll: 3,
	        infinite: true
	      }
	    },
	    {
	      breakpoint: 600,
	      settings: {
	        slidesToShow: 2,
	        slidesToScroll: 2
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        arrow: false
	      }
	    }
	    // You can unslick at a given breakpoint now by adding:
	    // settings: "unslick"
	    // instead of a settings object
	  ]
	});
</script>
<script type="text/javascript">
	$('.responsive2').slick({
	  dots: false,
	  arrow: false,
	  infinite: false,
	  speed: 300,
	  slidesToShow: 4,
	  slidesToScroll: 4,
	  responsive: [
	    {
	      breakpoint: 1024,
	      settings: {
	        slidesToShow: 3,
	        slidesToScroll: 3,
	        infinite: true
	      }
	    },
	    {
	      breakpoint: 600,
	      settings: {
	        slidesToShow: 2,
	        slidesToScroll: 2
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        arrow: false
	      }
	    }
	    // You can unslick at a given breakpoint now by adding:
	    // settings: "unslick"
	    // instead of a settings object
	  ]
	});
</script>
<script type="text/javascript">
	$('.responsive3').slick({
	  dots: false,
	  arrow: false,
	  infinite: false,
	  speed: 300,
	  slidesToShow: 4,
	  slidesToScroll: 4,
	  responsive: [
	    {
	      breakpoint: 1024,
	      settings: {
	        slidesToShow: 3,
	        slidesToScroll: 3,
	        infinite: true
	      }
	    },
	    {
	      breakpoint: 600,
	      settings: {
	        slidesToShow: 2,
	        slidesToScroll: 2
	      }
	    },
	    {
	      breakpoint: 480,
	      settings: {
	        slidesToShow: 1,
	        slidesToScroll: 1,
	        arrow: false
	      }
	    }
	    // You can unslick at a given breakpoint now by adding:
	    // settings: "unslick"
	    // instead of a settings object
	  ]
	});
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.open_menu').click(function(){
			$('.menu_bar').addClass('active');
			$('.navbar-collapse').css('display','none');
		});
		$('.close_menu').click(function(){
			$('.menu_bar').removeClass('active');
		});
	});
</script>
<script type="text/javascript">
	var options = {
	data: [
		  {"name": "Aflphonze", "code": "AF"},
		  {"name": "Alex", "code": "AX"},
		  {"name": "Alice", "code": "AL"},
		  {"name": "Al", "code": "DZ"},
		  {"name": "Ben", "code": "AS"}
		  ],
  		getValue: "name",
		list: {
			match: {
				enabled: true
			}
		}
	};

	$("#search_field").easyAutocomplete(options);
// for mobile
	$("#mob_search_field").easyAutocomplete(options);
</script>
</body>
</html>