<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	<link rel="stylesheet" type="text/css" href="../public/css/responsive-style.css">
	<%- include("partials/header") %> 
	<title>Subcrates | Build savings and investments with just $1 a day.</title>
</head>
<body>
	<section class="nav_section">
		<div class="container">
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			  <!-- Brand -->
			  <a class="navbar-brand" href="#"><img src="../public/images/logo.png" alt="#"></a>

			    <!-- <ul class="navbar-nav ml-auto">
			      <li class="nav-item">
			        <a class="nav-link hidden-xs" href="#">Help</a>
			      </li>
			    </ul> -->
			</nav>
		</div>
	</section>
	<section class="debt_section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6">
					<img src="../public/images/debt.png" alt="#" class="debt">
				</div>
				<div class="col-12 col-md-6">
					<div class="flexer">
						<span>
							<h3>
								
								<br><span style="color: #40D8A6;">Save</span> and <span style="color: #40D8A6;">invest</span> small amounts everyday.
							</h3>
							<form id="landing_form" action="/" method="POST" onsubmit>
								<p>
									Build savings and investments with just $1 a day.
								</p>
								<div class="form-group">
						        	<input type="text" name="userListEmail" class="form-control" placeholder="Email">
									<img src="../public/images/email.png" alt="#">
									<button name="addToUserList" class="btn_green" type="submit">Add me to Launch List</button>			
									<div class="green_text">*Join the 'Launch List' to be the first to know when we launch and earn a 
										founder's badge on your profile.</div>
						        </div>
							</form>
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- DOWNLOAD APP AND KEY FEATURES SECTION -->
	<!-- <section class="feat_section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="try_box">
						<div class="text_box">
							<div class="flexer">
								<span>
									<h3>Try <span>Subcrates</span> App for Free</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br> tempor incididunt ut labore et dolore magna aliqua.</p>
									<div class="d-flex">
										<a href="#"><img src="../public/images/app_store.png" alt="#"></a>
										<a href="#"><img src="../public/images/google_play.png" alt="#"></a>
									</div>
								</span>
							</div>
						</div>
						<div class="img_box">
							<img src="../public/images/feat_img.png" alt="#" class="feat">
						</div>
					</div>
				</div>
				<div class="bot_feat">
					<div class="row">
						<div class="col-12">
							<h3>Subcrates key features</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sod<br> tempor incididunt ut labore et dolore d minim veniam</p>
						</div>
						<div class="col-12 col-md-4">
							<div class="keybox">
								<div class="imgbox"><img src="../public/images/security.png" alt="#"><h4 class="visible-xs">Security</h4></div>
								<h4 class="hidden-xs">Security</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunla </p>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="keybox">
								<div class="imgbox"><img src="../public/images/budget.png" alt="#"><h4 class="visible-xs">Automate Budget Tracking</h4></div>
								<h4 class="hidden-xs">Automate Budget Tracking</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunla </p>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="keybox">
								<div class="imgbox"><img src="../public/images/user.png" alt="#"><h4 class="visible-xs">Get recommendations</h4></div>
								<h4 class="hidden-xs">Get recommendations</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunla </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					<a href="#"><img src="../public/images/logo.png" alt="#" class="logo"></a>
					<p>Subcrates helps you create a habit of saving and investing with as little as $1 a day. </p>
					<!-- <ul class="list-inline social">
						<li class="list-inline-item"><a href="#"><img src="../public/images/facebook.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="../public/images/instagram.png" alt="#"></a></li>
						<li class="list-inline-item"><a href="#"><img src="../public/images/twitter.png" alt="#"></a></li>
					</ul> -->
				</div>
				<div class="col-12 col-md-4">
					<h4>Links</h4>
					<div class="row">
						<div class="col-6">
							<ul class="links">
								<li><a href="mailto:support@subcrates.com">Got Questions</a></li>
								<!-- <li><a href="index.html">Home</a></li>
								<li><a href="my_crates.html">My Crate</a></li>
								<li><a href="settings.html">Settings</a></li>
								<li><a href="#">Contact Us</a></li> -->
							</ul>
						</div>
						<!-- <div class="col-6">
							<ul class="links">
								<li><a href="#">Suggestions</a></li>
								<li><a href="">Got Questions</a></li>
							</ul>
						</div> -->
					</div>
				</div>
				<!-- <div class="col-12 col-md-4">
					<h4>Download Subcrates app</h4>
					<p>Lorem ipsum dolor sit amet, consectetur ..</p>
					<div><a href="#"><img src="../public/images/app_store.png" alt="#" class="store"></a></div>
					<div><a href="#"><img src="../public/images/google_play.png" alt="#" class="store"></a></div>
				</div> -->
			</div>
			<hr>
			<!-- <div class="row">
				<div class="col-12 col-md-6">
					<p>Copyrights © 2020 <a href="#">Subcrates.</a> All rights reserved.</p>
				</div>
				<div class="col-12 col-md-6">
					<ul class="bot_link list-inline">
						<li class="list-inline-item"><a href="#">Terms of Service</a></li>
						<li class="list-inline-item"><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div> -->
		</div>
	</footer>



<script type="text/javascript" src="assets/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="assets/js/popper.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-4.js"></script>
<script>
    // Add mixpanel signup tracker & create user
    mixpanel.track("LandingPage");
</script>
</body>
</html>