<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%- include("partials/header") %>    
  <link rel="stylesheet" a href="../public/css/landingPage.css" />
  <link rel="stylesheet" a href="../public/css/footer.css" />


  <style>
      .reset-container {
          justify-content: center;
          align-items: center;
          text-align: center;
      }

      #email {
        width: 50%;
        margin: auto auto;
      }

      button {
          width: 6rem;
          height: 3rem;
          margin-bottom: 1rem;
      }

  </style>

  <title>Subcrates reset password</title>
</head>

<body>
    <%- include("./partials/signupNavbar") %>

  <div class="reset-container">
    <h1>Reset Password</h1>
  <form action="/resetpassword" method="POST">
    <div class="form-group">
      <label for="email">Check Email to Get Password Reset Link</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <button type="submit" class="btn" style="font-size: 1rem; letter-spacing: 0.05rem;">
        Reset
    </button>
  </form>
</div>
  <%- include("partials/footer") %>

  <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<%- include("partials/scripts") %>
</body>

</html>